<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_${WEB_XML_VERSION_FILE}.xsd"
         id="online-survey" version="2.5">

    <!-- db config -->
    <!--<context-param>
        <param-name>db.url</param-name>
        <param-value>jdbc:h2:../data/survey</param-value>
    </context-param>
    <context-param>
        <param-name>db.user</param-name>
        <param-value>sa</param-value>
    </context-param>
    <context-param>
        <param-name>db.password</param-name>
        <param-value>sa</param-value>
    </context-param>
    <context-param>
        <param-name>db.tcpServer</param-name>
        <param-value>-tcpAllowOthers</param-value>
    </context-param>-->

    <!-- h2默认方式启动db -->
    <!--<servlet>-->
        <!--<servlet-name>H2Console</servlet-name>-->
        <!--<servlet-class>org.h2.server.web.WebServlet</servlet-class>-->
        <!--<load-on-startup>1</load-on-startup>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>H2Console</servlet-name>-->
        <!--<url-pattern>/console/*</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--<listener>-->
        <!--<listener-class>org.h2.server.web.DbStarter</listener-class>-->
    <!--</listener>-->
    
    <security-constraint>
        <display-name>权限限制</display-name>
        <web-resource-collection>
            <web-resource-name>admin</web-resource-name>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>admin auth</description>
            <role-name>survey</role-name>
        </auth-constraint>
    </security-constraint>

    <security-role>
        <description>admin role</description>
        <role-name>survey</role-name>
    </security-role>

    <login-config>
        <auth-method>BASIC</auth-method>
    </login-config>

    <display-name>online-survey</display-name>
</web-app>
