<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.qunar.survey.dao.AnswerDao">

    <insert id="insertOne" parameterType="Answer"
            useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into answer(questionnaire_id, data, user, tel) values(#{questionnaireId}, #{data}, #{user}, #{tel});
    </insert>

    <select id="findById" resultType="Answer">
        select * from answer where id = #{id}
    </select>

    <select id="findByQuestionnaireId" resultType="Answer">
        select * from answer where questionnaire_id = #{questionnaireId}
    </select>
</mapper>